## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 12
print(a)

12

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [6]:
nombre = 'Mauricio Alejandro Rodriguez Amaya'

5) Crear una variable que contenga un número complejo

In [5]:
n_complejo = 5 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
numero_pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
valor_1 = 'True'
valor_2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [14]:
print('El valor 1 es de tipo ', type(valor_1), ' y el valor 2 es de tipo ', type(valor_2))

El valor 1 es de tipo  <class 'str'>  y el valor 2 es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [15]:
var_1 = 2
var_2 = 1.5
suma = var_1 + var_2
print('El resultado de la suma es: ', suma)

El resultado de la suma es:  3.5

11) Realizar una operación de suma de números complejos

In [16]:
a = 3 + 1j
b = 1 + 3j
print(a + b)

(4+4j)

12) Realizar una operación de suma de un número real y otro complejo

In [17]:
c = a + 1.61
print(c)

(4.61+1j)

13) Realizar una operación de multiplicación

In [18]:
a = 2 * 2
a

4

14) Mostrar el resultado de elevar 2 a la octava potencia

In [20]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
division = 27 / 4
division

6.75

16) De la división anterior solamente mostrar la parte entera

In [23]:
division_entera = 27 // 4
division_entera

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [25]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [29]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [30]:
frase = 'Hola '
frase_2 = 'mundo! '
print(frase + frase_2)

Hola mundo!

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [31]:
"2"== 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [32]:
int("2")

2

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [34]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [38]:
valor_3 = 3
valor_3 -= 1
print(valor_3)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [39]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [40]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [41]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite este texto se repite 3 veces